<div class="main">
  <article class="featured" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), transparent, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url(<%= @best_article.image %>), url(<%= asset_path 'no_image.svg.png' %>)">
    <h1 class="featured__title"><%= @best_article.title.truncate(80) %></h1>
    <p class="featured__body"><%= @best_article.text.truncate(250) %></p>
  </article>
</div>
<div class="categories">
  <% @categories.each do |cat| %>
    <div class="category" style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), transparent, rgba(0, 0, 0, 0.7)),
    url(<%= cat.last_article.image %>), url(<%= asset_path 'no_image.svg.png' %>)">
      <%= link_to cat.name, articles_path(cat: cat.id), class: 'category__title' %>
      <h3 class="category__body"><%= cat.last_article.title.truncate(50) %></h3>
    </div>
  <% end %>
</div>
