<!DOCTYPE html>
<html>
  <head>
    <title>TechArticles</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="body">
    <div class="container">
      <nav class="navbar">
        <%= link_to 'Tech Articles', root_path, class: 'navbar__brand' %>
        <%= link_to 'LOGIN', sessions_login_path, class: 'navbar__link navbar__link--first' %>
        <%= link_to 'REGISTER', new_user_path, class: 'navbar__link' %>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
